.prepare-funeral-success-container {

  max-width: 600px;
  margin: 0 auto;

  h2 {
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
  }
  &__button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 20px;
  }
}