.drawer {
  position: relative;
  background: white;

  &__button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 15px;

    &--logout {
      padding: 15px 40px;
      border-radius: 15px;
      text-align: center;
      font-size: 25px;
      background: gainsboro;

      &:hover {
        cursor: pointer;
        background: #6b6b3f;
        transition-duration: .4s;
      }
    }
  }

  &__menu__items {

    &--text {
      font-size: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}